:root {
    --primario: #0A0A0A;
    --secundario: #FFFFFF;
    --terceario: #141313;
    --neutral: #797676;
    --rojo: #E63946;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Archivo Narrow", sans-serif !important;
    font-weight: bold;
}

body {
    background-color: var(--terceario);
    font-family: "Inter", sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vb;

}

/* * Barra de navegación */
.navbar {

    /* Cambia el color de fondo de la barra de navegación */
    background-color: var(--primario) !important;

    /* Texto con un grosor mayor (negritas) */
    font-weight: 900 !important;

    /*  Mantener el navegador Fijo*/
    position: sticky;
    inset: 0;
    z-index: 1030;
}

/* Efecto al pasar el cursor sobre los enlaces */
.navbar .nav-link:hover {

    /* Cambia el color del texto */
    color: var(--secundario) !important;

    /* Mantiene el texto en negritas */
    font-weight: 900 !important;
}

/* Imagen del logotipo */
.navbar-brand img {

    /* Define el ancho del logotipo */
    width: 5rem;

    /* Ajusta automáticamente la altura para conservar la proporción */
    height: auto;

}/* * Barra de navegación */


/* * Hero */
.hero {
    /* Define la altura total de la sección Hero */
    height: 50rem;
}


/* Video de fondo del Hero */
.hero video {
    /* Ajusta el video para que cubra completamente el contenedor
       manteniendo la proporción original */
    object-fit: cover;

    /* Coloca el video en una capa inferior respecto al contenido */
    z-index: 1;
}


/* Capa de contenido sobre el video */
.video-contenido {
    /* Agrega una capa oscura semitransparente para mejorar
       la legibilidad del texto sobre el video */
    background-color: rgba(0, 0, 0, 0.7);

    /* Coloca el contenido por encima del video */
    z-index: 2;
}


/* Contenido de texto dentro del Hero */
.video-texto h2 {
    /* Elimina los márgenes predeterminados del título */
    margin: 0;

    /* Define el color del texto del título */
    color: var(--secundario);

    /* Convierte todo el texto del título a mayúsculas */
    text-transform: uppercase;

    /* Define un tamaño de fuente grande para destacar el mensaje principal */
    font-size: 4.5rem;

    /* Aumenta el grosor de la fuente para darle mayor impacto visual */
    font-weight: 900;
}


/* Palabra destacada dentro del título del Hero */
.video-texto .color-rojo {
    /* Cambia el color del texto para resaltar una parte importante
       del mensaje principal */
    color: var(--rojo);

}